/* Existing styles */
header {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}

.login {
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.login h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login label {
  font-size: 16px;
  margin-bottom: 5px;
}

.login input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login button {
  background-color: cornflowerblue;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login button:hover {
  background-color: lightcyan;
  color: cornflowerblue;
}
